body
{
	margin:0px;
	background-color: white;
	background-size: cover;
	font-family: 'Bitter', serif;
	color:white;
	background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
	display: flex;
	flex-direction: column;
}
.entete
{
	text-align: center;
}
.barreDeNavigation
{
	background-color: brown;
	display: flex;
	justify-content: center;
}
.barreDeNavigation a
{
	padding: 14px;
	border-right: white 2px;
	color: white;
	text-decoration: none;
	align-self: center;
}
.barreDeNavigation a:hover
{
	color:black;
	background-color: white;
}
button
{
	background: black;
	color: white;
	cursor: pointer;
	padding: 6px;
	font-family: 'Bitter', serif;
	border:none;
	font-size:16px;
	margin-top: 6px;
}
input
{
	padding: 10px;
	font-family: 'Bitter', serif;
	border:none;
}
.modesombre
{
	width: 22px;
	height: 15px;
	align-self: center;
	justify-content: flex-end;
}
.partgauche
{
	width: 25%;
}
.milieu
{
	width: 50%;
	color:black;
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.box
{
	background-color: sandybrown;
	display: flex;
}
.box:hover
{
	background-color: white;
}
.Content
{
	width: 100%;
	display: flex;
}
.grand
{
	font-family: 'Sigmar One', cursive;
	text-decoration: none;
	font-size: 30px;
}
.petit
{
	font-family: 'Nunito', sans-serif;
	color: grey;
}
.imageTheme
{
	width: 100px;
	height: 100%;
	margin-right: 20px;
}
.partdroite
{
	width: 25%;
}
.page
{
	display: flex;
	text-align: center;
	flex-direction: row;
	width: 100%;
}
.filDeDiscussion
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid black;
	align-self: center;
	background-color: tan;
}
a
{
	text-decoration:none;
	color: black;
}
.pub
{
	width: 100%;
	height: 100%;
}
.bas
{
	padding: 10px;
	background-color: brown;
	display: flex;
	justify-content: center;
}
.bas a 
{
	color: white;
	margin-right: 5px;
	text-decoration: none;
	padding: 10px;
}
.bas a:hover
{
	background-color: white;
	color: black;
}