body 
{
    background-color : grey;
    margin: 0px;
}
.bordure 
{
    background-color: #FF8D21;
    display: flex;
    justify-content: space-between;
}
.logo 
{
    width: 5em;
    height: 5em;
}
.box
{
    background-color: #FF8D21;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 98,5%;
    height: 100%;
    border: thick double black;
    display: flex;
}
.recherche 
{
    align-self: center;
    margin-left: 50px;
   
}
.connexion
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.valider
{
    margin-left: 25px;
}
.textco 
{
    margin-top:5px;
    color: white;
    background-color: grey;
}
.boxPageRegister
{
    display:flex;
    flex-direction: column;
    background-color:#FF8D21;
    margin-bottom:25%;
    margin-left:40%;
    margin-right:40%;
    margin-top:3%;
    padding:1%;
    border: thick double black;
}
.titreConnexion
{
    align-self: center;    
}
.titreConnexion::before {
    content: "";
    display: inline-block;
    background: url("https://image.flaticon.com/icons/png/512/130/130924.png");
    width: 14px;
    height: 12px;
}
.partieGauche {
    width: 75%;
    height: 97%;
    display: flex;
    flex-direction: column;
    border-right: thick double black;
    border-bottom: thick double black;
}
.partieDroite {
    width: 25%;
    height: 97%;
    display: flex;
    flex-direction: column;
    border-bottom: thick double black;
}
.partieBasse
{

}
.filDeDiscussion
{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    height: 300px;
    border: 3px solid black;
    align-self:center;
    background-color: azure;
}
.infoFilDeDiscussion
{
    width: 300px;
    height: 100px;
    border: 3px solid black;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: crimson;
}




.topnav 
{
  background-color: #FF8D21;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.topnav a 
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover 
{
  background-color: white;
  color: black;
}
.testimg
{
    width: 40px;
    height:40px;
}
.testfinimg
{
    width: 40px;
    height:40px;
}
.testSearch
{
    align-self: center;
    padding: 100%;
    width: 200px;
}
.testcenter
{
    align-self: center;
}

